<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<!--
  Titillium Text by the Accademia di Belle Arti Urbino released under the SIL Open Font License, Version 1.1.
  http://www.fontsquirrel.com/license/TitilliumText
-->
  <head>
    <title>Expert Novice</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <!--[if !IE 7]>
      <style type="text/css">
      #wrap {display:table;height:100%}
      </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
  </head>
<div id="wrap">
  <div id="main">
  <body>
    <img id="banner" src="images/expert_novice_bright_with_text.jpg" alt="Expert Novice">
    <img id="dark" src="images/expert_novice_dark.jpg" alt "Inquire Within" usemap="#image_map">
<!--      <map name="image_map" id="image_map">
        <area shape="poly" coords="890,561, 892,468, 911,399, 937,363, 965,337, 997,325, 1036,317, 1083,311, 1140,314, 1186,328, 1212,345, 1236,378, 1251,406, 1265,441, 1274,466, 1281,505, 1284,551, 1238,557, 1179,557, 1047,566, 970,568, 918,567, 891,565, 889,564" href="#inquire">
     </map>
-->
  <div id="inquire_button">
  </div>
<!--   
    <div id="shadow">
    </div>
-->
    <div id="container">
      <p><h1>Expert Novice is a whirlwind consultancy.</h1></p>
      <p><h2>We make great projects better by giving the most constructive feedback ever.</h2>
      <br/>
      <div id="intrigue">
      <p><a name="inquire">☞ I'm intrigued!</a></p>
      <div id="contact">
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>
        <script type="text/javascript">
          var z7x3k7 = new WufooForm();
          z7x3k7.initialize({
          'userName':'expertnovice', 
          'formHash':'z7x3k7', 
          'autoResize':true,
          'height':'745'});
          z7x3k7.display();
        </script>
      </div>
      </div>
    </div>
  </body>
</div>
</div>
<div id="footer">
<p>Expert Novice is <a href="http://blog.dianakimball.com">Diana Kimball</a>, professional beginner and mischief-maker. Art by <a href="http://drawingwhiledriving.com">SCUBA</a>. © Expert Novice 2011</p>
</div>
</html>
