<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<!--
  Titillium Text by the Accademia di Belle Arti Urbino released under the SIL Open Font License, Version 1.1.
  http://www.fontsquirrel.com/license/TitilliumText
-->
  <head>
    <title>Expert Novice</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
  </head>
  <body>
    <img id="banner" src="images/expert_novice_bright_with_text.jpg" alt="Expert Novice" usemap="#image_map">
      <map name="image_map" id="image_map">
        <area shape="poly" coords="890,561, 892,468, 911,399, 937,363, 965,337, 997,325, 1036,317, 1083,311, 1140,314, 1186,328, 1212,345, 1236,378, 1251,406, 1265,441, 1274,466, 1281,505, 1284,551, 1238,557, 1179,557, 1047,566, 970,568, 918,567, 891,565, 889,564" href="#inquire">
      </map>
    <div id="shadow">
    </div>
    <div id="container">
      <p><h1><a name="inquire">Expert Novice is a whirlwind consultancy.</a></h1></p>
      <p><h2>You send us something you're working on, and we reply with the most constructive feedback ever. We're detail-oriented about the big picture, and nothing makes us happier than bringing ideas to life.</h2></p>
    </div>
  </body>
</html>
