<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Titillium Text by the Accademia di Belle Arti Urbino released under the SIL Open Font License, Version 1.1.
http://www.fontsquirrel.com/license/TitilliumText
-->

<html>

  <head>
    <title>Expert Novice</title>
    <link rel="stylesheet" type="text/css" href="expertnovice.css" />
  </head>

  <body>
    <img src="Expert_Novice_Bright_With_Text.jpg" width="100%" alt="Expert Novice" usemap="#image_map" border="0">
      <map name="image_map" id="image_map">
        <area shape="poly" coords=" 890,561, 892,468, 911,399, 937,363, 965,337, 997,325, 1036,317, 1083,311, 1140,314, 1186,328, 1212,345, 1236,378, 1251,406, 1265,441, 1274,466, 1281,505, 1284,551, 1238,557, 1179,557, 1047,566, 970,568, 918,567, 891,565, 889,564" href="#inquire">
      </map>
    <div id="container">
      <h1> <a name="inquire">Expert Novice is a solo consultancy devoted to giving the most constructive feedback ever.</a></h1>
    </div>
  </body>

</html
