/* Shared */

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: #9be1d7;
    font-family: 'TitilliumText22LLight', Helvetica, Arial, sans-serif;
    padding: 30px 18px 15px;
    font-size: 14px;
    color: #716B6D;
  }

  a {
    color: #716B6D;
    text-decoration: none;
    font-weight: bold;
  }
    a:hover {
      text-decoration: underline;
    }
    a:hover,
    #tellmemore:hover {
      opacity: .8;
    }

/* Banner */

  #banner {
    display: none;
  }

  h1 {
    font-family: 'TitilliumText22LMedium', Helvetica, Arial, sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
  }
    h1 strong {
      display: block;
      float: left;
      background: url(../images/expert_novice_logo_dark.png) no-repeat top left;
      width: 250px;
      height: 68px;
      text-indent: -9999px;
      margin: -13px 8px -8px 0;
    }

  h2 {
    color: #CD3A04;
    font-size: 22px;
    clear: both;
    text-shadow: 0 0 10px #9BE1D7, 0 0 10px #9BE1D7, 0 0 10px #9BE1D7;
  }

  h3 a {
    display: block;
    background: url(../images/and_take_me_to_the_blog.png) no-repeat top left;
    width: 312px;
    height: 53px;
    text-indent: -9999px;
  }

  form {
    margin: 15px 0;
  }
    form input {
      font-size: 32px;
      color: #716B6D;
      vertical-align: middle;
    }
    form input#email {
      padding: 4px;
      margin-right: 8px;
    }

/* Footer */

  h4 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    background: #9be1d7;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }


/* Fonts */

  @font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('../fonts/TitilliumText22L004-webfont.eot');
    src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TitilliumText22L004-webfont.woff') format('woff'),
      url('../fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
      url('../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TitilliumText22LLight';
    src: url('../fonts/TitilliumText22L002-webfont.eot');
    src: url('../fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TitilliumText22L002-webfont.woff') format('woff'),
      url('../fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
      url('../fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
